@supports (-moz-appearance:none) {
html {
scrollbar-color: #ffffff #000000;
    scrollbar-width: thin;
}
div {
scrollbar-color: #ffffff #000000;
scrollbar-width: thin;
}
  }
::-webkit-resizer {
    background: #C3C7CB;
}
::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}
::-webkit-scrollbar-corner {
    background: #C3C7CB;
}
::-webkit-scrollbar-thumb {
    background: #C3C7CB;
    color: #000;
    border: 1px solid #000;
    box-shadow: inset -2px -2px 0px #5c5b6a, inset 2px 2px 0px #fff;
}
::-webkit-scrollbar-track {
    background: #C3C7CB;
    
}
::-webkit-scrollbar-button:single-button {
    background: #C3C7CB;
    color: #000;
    border: 1px solid #000;
    box-shadow: inset -2px -2px 0px #5c5b6a, inset 2px 2px 0px #fff;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;

    &:active {
        @include buttons.buttonShadowInverted;
    }

::-webkit-scrollbar-button:single-button:vertical:increment {
            background-image: url("https://file.garden/ZkBMEUcxSy6EAJ37/web/down.png");
        }

::-webkit-scrollbar-button:single-button:vertical:decrement {
            background-image: url("https://file.garden/ZkBMEUcxSy6EAJ37/web/up.png");
        }
    }

::-webkit-scrollbar-button:single-button:horizontal:decrement {
            background-image: url("https://file.garden/ZkBMEUcxSy6EAJ37/web/left.png");
        }

::-webkit-scrollbar-button:single-button:horizontal:increment {
            background-image: url("https://file.garden/ZkBMEUcxSy6EAJ37/web/right.png");
        }
    }
}
