@supports (-moz-appearance:none) {
html {
scrollbar-color: #ffffff #000000;
    scrollbar-width: thin;
}
div {
scrollbar-color: #ffffff #000000;
scrollbar-width: thin;
}
  }

/*** SCROLLBAR START ***/
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  background: none !important;
}
::-webkit-scrollbar-thumb {
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-button {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  width: 12px;
  height: 8px;
  background: #000000;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: 50% 50% !important;
}

::-webkit-scrollbar-track {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background: #696969 !important;
  background-image: url("https://soap11111111.github.io/img/trk.svg") !important;
  background-position: 0 0 !important;
  background-repeat: repeat !important;
  background-size: 2px !important;
}
::-webkit-scrollbar-button {
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    background-repeat: no-repeat;
    background-size: 8px !important;
    background-position: -2px -2px !important;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("https://soap11111111.github.io/img/awtp.svg");
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("https://soap11111111.github.io/img/awbt.svg");
border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("https://soap11111111.github.io/img/awl.svg");
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("https://soap11111111.github.io/img/awr.svg");
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;

    ::-webkit-scrollbar-corner {
  background: #ffffff;
}

/*** dakedres was here ;3 ***/
/*** SCROLLBAR END ***/
