@supports (-moz-appearance:none) {
html {
scrollbar-color: #ffffff #000000;
    scrollbar-width: thin;
}
div {
scrollbar-color: #ffffff #000000;
scrollbar-width: thin;
}
  }

/*** SCROLLBAR START ***/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: none;
}
::-webkit-scrollbar-thumb {
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-button {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  width: 12px;
  height: 12px;
  background: #000000;
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: 50%;
}

::-webkit-scrollbar-track {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background: #696969;
  background-image: url("https://soap11111111.github.io/img/trk.svg");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 2px;
}
::-webkit-scrollbar-button {
    image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background-repeat: no-repeat;
  background-size: 16px;
background-position: -2px -2px;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("https://soap11111111.github.io/img/awtp.svg");
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("https://soap11111111.github.io/img/awbt.svg");
border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("https://soap11111111.github.io/img/awl.svg");
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("https://soap11111111.github.io/img/awr.svg");
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;

    ::-webkit-scrollbar-corner {
  background: #ffffff;
}

/*** dakedres was here ;3 ***/
/*** SCROLLBAR END ***/
